@import './module/Color';

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a {
  color: $primaryGreen;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

input[type=date],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  padding: .8125rem 1.125rem;
  background-color: $white;
  border-radius: 0;
  border: 1px solid $grey;
  color: $mainFont;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}